
/* ARTICULOS */
/* Contenedor de los N articulos */
#posts{
	width: 60%;
	float: left;
	font-family: Helvetica, Arial;
}

/* Determinado articulo */
.post{
	padding: 7px;
}

/* Titulo de determinado articulo */
h2{
	font-family: Helvetica, Arial;
	font-size: 30px;
	color:#333;
}

/* Fecha de publicacion de determinado articulo*/
.post .date{
	display: block;
	color: gray;
	margin-top:5px;
}

/* Contenido de determinado artiuclo */
.post p{
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 22px;
	text-align: justify;
}

/* Boton de leer mas */
.button-more{
	font-size: 14px;
	text-align: center;
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
	margin-top: 10px;
	width: 70px;
	margin-bottom: 20px;
}

/* SLIDER */
/* Tamanio del slider */
.bx-wrapper, .bx-viewport {
	height: 250px !important;
}