
/* ACORDEON */
/* Contenedor del acordeon */
#box{
	width: 60%;
	float: left;
	margin-top:40px;
}

/* Titulo del acordeon */
h2{
	font-family: Helvetica, Arial;
	font-size: 30px;
	color:#333;
}

/* Acordeon */
#acordeon{
	margin-top: 20px;
}

/* Cada Tab (titulos de cada seccion del acordeon) */
.bx-wrapper, .bx-viewport {
	height: 250px !important;
}



