/* Los estilos blue, green y red almancenan los colores de los botones y la imagen del fondo de la 
pagina web. */

body{
	background: url("https://p1.pxfuel.com/preview/234/634/343/leaves-foliage-tree-spring-leaves.jpg");
	background-attachment: fixed;
}

#logo{
	background: #235E3D;
}

#menu ul li:hover{
	background: #235E3D;
}

.button-more{
	background: #235E3D;
}