/* Los estilos blue, green y red almancenan los colores de los botones y la imagen del fondo de la 
pagina web. */
body{
	background: url("https://png.pngtree.com/background/20220721/original/pngtree-maple-leaves-are-red-like-fire-in-autumn-picture-image_1700743.jpg");
	background-attachment: fixed;
}

#logo{
	background: #CA3413;
}

#menu ul li:hover{
	background: #CA3413;
}

.button-more{
	background: #CA3413;
}